body {
  margin: 30px;
  background-color: black;
  color: aliceblue;
}
/* h1 {
  font-size: 72px;
  font-family: sans-serif;
} */
.parent {
  display: grid;
  justify-content: center;
  grid-gap: 10px;
  grid-template-columns: repeat(3, 150px);
  grid-template-rows: repeat(3, 150px);
}
.parent > div {
  padding: 10px;
  border-radius: 5px;
  display: grid;
  place-items: center;
}

.parent > div {
  font-family: sans-serif;
  font-size: 24px;
  font-weight: bold;
}
.score{
  display: grid;
  justify-content: center;
  grid-gap: 10px;
}
.xpos {
  background-color: blue;
}
.opos {
  background-color: red;
}
.nopos{
  background-color: #EFCB68;
}
.btn{
  padding: 10px;
  border-radius: 5px;
  display: grid;
  place-items: center;
  background-color: aquamarine;
  /* width: 70%;
  height: 40%; */
}